/* Dashboard.css */

/* Container Styling */
.dashboard-container {
    font-family: Arial, sans-serif;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;
    height: 530.5px;
}

.error-text {
    color: red;
    margin-bottom: 10px;
    height: 530.5px;
}

/* Table Styling */
.portfolio-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.portfolio-table th, .portfolio-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.portfolio-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.portfolio-table tr:hover {
    background-color: #f1f1f1;
}

.portfolio-table td {
    color: #666;
    font-size: 14px;
}
.sname:hover{
    cursor: pointer;
}

.portfolio-table .price {
    color: #00a884;
    font-weight: bold;
}

/* Suggestions Container Styling */
.suggestions-container {
    position: absolute; /* Position the container relative to the parent */
    z-index: 1000; /* Ensure the container is on top of other elements */
    width: 300px; /* Make sure the width matches the input field */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Limit the height if there are many suggestions */
    overflow-y: auto; /* Scroll if too many suggestions */
}

/* Each suggestion item */
.suggestion-item-unique {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.suggestion-item-unique:hover {
    background-color: #f1f1f1;
}

.add-stock-section {
    display: flex;
    align-items: center; /* Aligns input and button vertically in the middle */
    margin-bottom: 20px;
    position: relative;
    flex-direction: row; /* This ensures the button stays next to the input field */
}

.add-stock-section input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px; /* Space between input and button */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-stock-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00a884;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.add-stock-section button:hover {
    background-color: #007f64;
}

.delete-stock-button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-stock-button:hover {
    background-color: #ff1a1a;
}

.delete-stock-button:disabled {
    background-color: #ffcccc;
    cursor: not-allowed;
}
