/* src/SuccessPage.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-animation {
  animation: fadeIn 1s ease-out;
}

.success-left {
  flex: 1;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.success-container{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
  font-family: 'Arial', sans-serif;
}

.success-content {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
}

.success-image {
  max-width: 100%;
  height: auto;
}

.success-right {
  flex: 1;
  padding: 40px;
}

.redirecttodashboard{
  color: #00a884;
}